:root {
    --primary-color: #ffc0c2;       /* 主色（深绿色） */
    --secondary-color: #f7e9e3;             /* 辅助色（亮绿色） */
    --accent-color: #6dc9c8;                /* 强调色（红色） */
    --text-color: #0e3150;                     
    --background-color: #f8f9fa;          
    --border-radius: 8px;                   
    --card-bg: white;                      
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    --transition: all 0.3s ease;           
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--primary-color);
    padding: 0 20px; 
    height: 60px;
}
